<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="helper.AllureListener"/>
    </listeners>

    <test name="Android">

        <parameter name="device" value="SamsungS22"/>
        <parameter name="env" value="envTST"/>
        <groups>
            <run>
                <include name="regression"/>
                <exclude name="sda"/>
            </run>

        </groups>

        <classes>
            <class name="Tests.Clients.LoginViaNewUsers">
            </class>
        </classes>
    </test>
    <test name="iOS">

        <parameter name="device" value="iPhone14Plus"/>
        <parameter name="env" value="envTST"/>
        <groups>
            <run>
                <include name="regression"/>
                <exclude name="sda"/>
            </run>

        </groups>

        <classes>
            <class name="Tests.Clients.LoginViaNewUsers">
            </class>
        </classes>
    </test>
</suite>


        <!--
            <suite-files >
                <suite-file path="iOSRegressionSuite.xml"/>
                <suite-file path="androidRegressionSuite.xml"/>

            </suite-files>

            -->